@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}
.section-title {
  margin: 40px auto;
}
.section-title h1 {
  font-size: 54px;
  color: black;
  text-align: center;
}
.section-title h1 span {
  color: #f33700;
}
.navBar-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navBar-logo h1 {
  font-family: "Pacifico", cursive;
}
.navBar-logo h1 span {
  color: #f33700;
}
.navBar-Links ul .navBarItem {
  display: inline;
  margin: auto 15px;
}
.navBarItem a {
  text-decoration: none;
  color: black;
}
.navBarItem a:hover {
  color: #f33700;
}
.navBar-Btns button,
#btn-logo {
  width: 130px;
  height: 40px;
  padding: 5px 10px;
  background-color: #f33700;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: grab;
}

.navBar-Btns button:hover ,
#btn-logo:hover {
  color: black;
  background-color: rgba(149, 157, 165, 0.2);
}



/* NavBar Media Queries */

@media only screen and (max-width: 1000px) {
  .navBar-section {
    justify-content: space-between;
    padding: 0 20px;
  }
  .navBar-Links {
    display: none;
  }
}

/* Banner Section */

.banner,
.about {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.banner-info {
  width: 40%;
  display: flex;
  margin: 40px;

  flex-direction: column;
  justify-content: center;
}
.banner-h1 {
  font-size: 54px;
  margin: auto 20px;
}
.banner-h1 span {
  color: #f33700;
}
.image {
  width: 60%;
}

.banner-p {
  width: 60%;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.69);
}
.banner-btns {
  width: 100%;

  margin-left: 20px;
}
.banner-btns button {
  width: 160px !important;
}
.banner-btns button:first-child {
  margin-left: 0 !important;
  margin-right: 40px;
}

/* Banner responsivity */

@media only screen and (max-width: 1200px) {
  .banner-h1 {
    font-size: 32px;
    margin-top: 50px;
  }
  .banner-p {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .banner {
    flex-wrap: wrap;
  }
  .banner-info {
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .banner-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .banner-btns button {
    margin-top: 30px;
    width: 100px;
    margin: 20px 10px ;
  }
 
   .banner .image {
    display: none;
  }
}


@media only screen and (max-width: 480px){
  .one {
    margin-right: 0 !important;
  }

} 

/* SKILLS SECTION*/

.skills-section {
  height: 200px;
  width: 90%;
  background-color: rgb(218, 216, 216);
  margin: 30px auto;
  border-radius: 10px;
}

.skills {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills i {
  font-size: 72px;
}



/* Media queries skills section */


@media only screen and (max-width: 1200px){
  .skills-section {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
  .skills i {
    font-size: 48px;
  }
  .section-title h1 {
    font-size: 48px;
  }
}

/* ABOUT SECTION */

.about {
  margin: 50px auto;
}

.about-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .image {
  width: 50%;
}
.about-p {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.69);
}





/* About section Media Queries */

@media only screen and (max-width: 1200px ){
  .about {
    flex-wrap: wrap;
  }
  .about-info {
    width: 90%;
    margin: auto;
  }
  .image {
    width: 90%;
    margin: auto;
  }
  .image img {
    width: 80%;
    margin: auto ;
  }
}

/* SERVICES */

.services,
.projects , #contact-section{
  width: 100%;
}

.service {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
}

.service-info {
  width: 70%;
  margin: 20px 0;
  text-align: center;
}

.service-info p {
  line-height: 33px;
  font-size: 19px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 30px 0;
}

.main-card {
  height: 340px;
  width: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(228, 228, 228);
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s linear;
}

.card-image {
  position: absolute;
  top: -50px;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
}
.card-image i {
  font-size: 64px;
  margin-top: 30px;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.69);
}
.card-info {
  text-align: center;
  padding: 10px;
}

.card-info h2 {
  margin-top: 40px;
  color: #2f2e41;
}

/* PROJECTS SECTION */

.project {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-info {
  width: 70%;
  margin: 20px 0;
  text-align: center;
}
.project-card {
  height: 250px;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(228, 228, 228);
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s linear;
}

.project-card .card-info h2 {
  margin-top: 40px;
  font-size: 30px;
  color: #2f2e41;
}

.view-project {
  height: 50px;
  width: 100%;
  background-color: #f36b41;
  border-radius: 10px;
  color: white;

}
.view-project a {
  text-decoration: none;
  color: white;
}
.view-project a:hover {
  color: black;
}
.view-project p {
  
  margin-top: 11px;
  text-decoration: none !important;
  text-align: center;
}
.view-project:hover {
  background-color: rgba(149, 157, 165, 0.2);
  color: black;
}



/* FOOTER SECTION */

.footer {
  height: 50px;
  width: 100%;
  font-size: 18px;
  background-color: rgb(218, 216, 216);
  text-align: center;
  padding-top: 16px;
}
.footer p i {
  color: red;
}


/* CONTACT SECTION */

.contact {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
 
}
.contact-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social-media{
  display: flex;
  width: 50%;
  margin: auto;
 
}
.address {
  margin: 30px auto;
}
.address p {
  font-size: 18px;
}
.social-media i {
  font-size: 36px;
  margin-left: 20px;
}
.social-media i:hover
{
  color: #f33700;
}
.contact-form {
  width: 50%;
}
.contact-form div {
  width: 90%;
}
.contact-form h1{
  /* color: #f33700; */
  font-weight: bolder;
}
.contact-form p {
  font-size: 18px;
  margin: 20px auto;
}
.contact-form div {
  margin-bottom: 10px;
}
.contact-form label {
  font-size: 18px;
  margin-bottom: 5px;
}
.contact-form input {
  width: 90%;
  height: 50px;
  /* border: #f33700 2px solid; */
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(218, 216, 216);
  outline: #f33700;
}
.contact-form textarea {
  width: 90%;
  /* border: #f33700 2px solid; */
  border: none;
  border-radius: 10px;
  background-color: rgb(218, 216, 216);
  outline:#f33700;
  padding: 5px 10px;


}
.contact-form button {
  width: 130px;
  height: 40px;
  padding: 5px 10px;
  background-color: #f33700;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: grab;
}



/* Contact sectyion media Queries */

@media only screen and (max-width: 1000px) {
  .contact {
    flex-wrap: wrap-reverse !important;
    width: 100%;
  }
  .contact-form {
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form input {
    width: 100%;
   
  }
  .contact-form textarea {
    width: 100%;
  }
  .contact-form h1 , p {
    text-align: center;
  }
  .contact-form form  div {
    margin-right: 0;
    width: 100%;
  }
  .contact-info {
    width: 100%;
    text-align: center;
  }
  .social-media {
    margin: auto;
  }
} 

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#f33700;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
  background-color: rgba(149, 157, 165, 0.2);
  color: black;

}

.arr-up{
	margin-top:18px;
}

